---
---
@charset "utf-8";

// Imports
@import "_mixins";

// Breakpoints
$breakpoints: (
	"small": 600px,
	"medium": 820px,
	"large": 900px,
	"huge": 1200px,
);
// Colors 
$primary: #fd1a16; // Red
$secondary: #82027e; // Purple
$black: rgba(20, 20, 20, 1); // Black
$white: #fff; // White

//Padding
$padding: 30px;

// Fonts
$font-size: 12px;
$font-stack: (
	"Sperwer",
	"Century Gothic",
	Arial,
	sans-serif,
);

// Font declarations
@include font-face("Sperwer", assets/fonts/sperwer-regular-web, normal, normal);
@include font-face("Sperwer", assets/fonts/sperwer-light, 200, normal);
@include font-face("Sperwer", assets/fonts/sperwer-bold-web, bold, normal);

* {
	box-sizing: border-box;
}
html {
	font-size: $font-size;
	font-family: $font-stack;
	line-height: 1.6;
	background-color: $secondary;
	text-color: $primary;
}

body {
	margin: 0;
	background-color: $secondary;
}


/* END text styling */

a {
	color: $black;
	text-decoration: none;
	&:hover {
		color: $primary;
	}
	&:active {
		color: $primary;
	}
}

h2 {
	display: inline-block;
	position: relative;
	top: $font-size*-0.5;
	margin: 0 0 $font-size 0;
	font-size: $font-size;
	font-weight: bold;
	color: $secondary;
	vertical-align: baseline;
}
p {
	color: $secondary;
	margin: 0 0 1.375rem 0;
}
p.secondary {
	color: $secondary;
}
p.primary {
	color: $primary;
	a {
		color: $primary;
		text-decoration: none;
		&:hover {
			color: $secondary;
		}
		&:active {
			color: $secondary;
		}
	}
}


/* END text styling */

.icon {
	position: relative;
	margin: 0px 10px $font-size 0;
	display: inline-block;
	vertical-align: middle;
	height: 35px;
	width: 35px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.trees { background-image: url('assets/icons/trees.png'); }
.pen { background-image: url('assets/icons/pen.png'); }
.chatbubble { background-image: url('assets/icons/chatbubble.png'); }
.door { background-image: url('assets/icons/door.png'); }
.phone { background-image: url('assets/icons/phone.png'); }
.handshake { background-image: url('assets/icons/handshake.png'); }

/* header */
#header {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	padding: $padding;
	background-color: $white;
	.maze {
		line-height: 0;
		width: 60px;
	}
	h1 {
		position: relative;
		top: 0.25em;
		display: block;
		width: 200px;
		flex-grow: 1;
		margin: 0 0 0 0.5em;
		font-weight: 200;
		line-height: 0.8;
		color: $primary;
		font-size: 28px;
	}
	p {
		display: block;
		width: 100px;
		margin: 0.75em 0 0 0;
		padding: 0;
		color: $primary;
		line-height: 1.333333;
		@include respond-to(small) {
			width: calc(50% - 30px);
		}
		@include respond-to(medium) {
			width: 212.5px;
		}
	}
}
/* END header */

/* content */
#container {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 3px;
}
.row {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	height: auto;
	padding: $padding*0.8 $padding $padding/2 $padding;
}
.row.content {
	height: auto;
	background-color: $white;
	.columns {
		column-count: 1;
		column-fill: balance;
		column-gap: $padding;
		hyphens: manual;
		@include respond-to(small) {
			column-count: 2;
		}
		@include respond-to(medium) {
			column-count: 3;
		}
		@include respond-to(large) {
			column-count: 4;
		}

		img {
			margin-top: 0.55em;
			width: 200px;
			height: auto;
			display: inline-block;
		}
		@include respond-to(small) {
			.photo {
				break-before: column;
			}
		}
		section {
			break-inside: avoid;
			break-before: unset;
			@include respond-to(medium) {
				break-before: column;
			}
		}
		.medium-hide {
			display: none;
			@include respond-to(large) {
				display: block;
			}
		}	
	}
}
.row.image {
	height: 210px;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}
.row.footer {
	.columns {
		column-count: 2;
		@include respond-to(small) {
			column-count: 2;
			column-width: 200px;
		}
		@include respond-to(medium) {
			column-count: 4;
		}
	}
}

.parallax {
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100vh;
		transform: translateZ(-1px) scale(1.5);
		background-size: 140%;
		z-index: -1;
		background-repeat: no-repeat;
		background-color: $white;
		@include respond-to(small) {
			background-size: 120%;
		}
	}
}
.parallax.last {
	&:after {
		transform: translateZ(-1px) translateY(150px) scale(1.5);
	}
}
.maze1::after { background-image: url('../images/maze1.jpg'); }
.maze2::after { background-image: url('../images/maze2.jpg'); }
.maze3::after { background-image: url('../images/maze3.jpg'); }
.wedding::after { background-image: url('../images/wedding.jpg'); }
.mansion::after { background-image: url('../images/mansion.jpg'); }
/* END content */

/* footer */
footer {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	padding: $padding/2;
	color: $white;
	@include respond-to(small) {
		padding: $padding 0;
	}
	.column {
		width: calc(50% - 15px);
		width: 175px;
		font-size: 14px;
		padding: 0;
		@include respond-to(small) {
			width: 175px;
			padding: 0 0 0 $padding;
		}
		&:last-child {
			width: 50%;
			padding-left: $padding/2;
			@include respond-to(small) {
				width: 175px;
				padding-left: $padding;
			}
		}
	}
	a {
		color: $white;
		text-decoration: none;
		&:hover {
			color: $primary;
		}
		&:active {
			color: $primary;
		}
	}
}
/* END footer */
