---
---
@charset "utf-8";

// Imports
@import "_mixins";

// Breakpoints
$breakpoints: (
	"small": 600px,
	"medium": 600px,
	"large": 900px,
	"huge": 1200px,
);

// Colors 
$primary: #fd1a16; // Red
$secondary: #82027e; // Purple
$black: #000; // Black
$white: #fff; // White

//Padding
$padding: 30px;

// Fonts 
$font-stack: (
	"Sperwer",
	"Century Gothic",
	Arial,
	sans-serif,
);

// Font declarations
@include font-face("Sperwer", assets/fonts/sperwer-regular-web, normal, normal);
@include font-face("Sperwer", assets/fonts/sperwer-light, 200, normal);
@include font-face("Sperwer", assets/fonts/sperwer-bold-web, bold, normal);

html {
	font-family: $font-stack;
	line-height: 1.4285;
	background-color: $secondary;
	text-color: $primary;
}
body {
	margin: 0;
}
a {
	color: $black;
	text-decoration: none;
	&:hover {
		color: $primary;
	}
	&:active {
		color: $primary;
	}
}

#header {
	display: flex;
	flex-wrap: wrap;
	padding: $padding 0 $padding/2 $padding/2;
	@include respond-to(small) { 
		padding: $padding 0 $padding/2 $padding;
		flex-wrap: nowrap;	
	}
	.maze {
		width: 35%;
		line-height: 0;
		@include respond-to(small) { width: 60px; }
	}
	h1 {
		position: relative;
		top: 0.25em;
		display: block;
		width: 50%;
		flex-grow: 1;
		margin: 0 0 0 0.5em;
		font-weight: 200;
		font-size: 15vw;
		line-height: 0.8;
		color: $primary;
		@include respond-to(small) {
			font-size: 28px;
			width: 200px;
		}
	}
	p {
		display: block;
		padding: 0;
		margin-bottom: 0;
		font-size: 7.1vw;
		color: $primary;
		@include respond-to(small) { 
			width: 160px;
			font-size: 14px;
		}
	}
}

#container {
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
	background-color: $white;
	.row {
		display: block;
		margin-top: $padding/2;
		height: 300px;
		overflow: hidden;
		background-repeat: none;
		background-position: 50% 30%;
		@include respond-to(small) { 
			height: 200px;
		}
	}
}

footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	padding: $padding/2;
	background-color: $secondary;
	color: $white;
	@include respond-to(small) {
		padding: $padding 0;
	}
	.column {
		width: calc(50% - 15px);
		max-width: 160px;
		font-size: 14px;
		padding: 0;
		@include respond-to(small) {
			width: 160px;
			padding: 0 0 0 $padding;
		}
		&:last-child {
			width: 50%;
			padding-left: $padding/2;
			@include respond-to(small) {
				width: 160px;
				padding-left: $padding;
			}
		}
	}
	a {
		color: $white;
		text-decoration: none;
		&:hover {
			color: $primary;
		}
		&:active {
			color: $primary;
		}
	}
}


