---
layout: default
slider:
  text_color: white
  shadow_color: black
  carousel:
  - image: /images/mansion.jpg
  - image: /images/maze1.jpg
---
<div class="row image last mansion">
</div>
<div class="row content">
	<div class="columns">
		<section>
			{% include icons/trees.svg %}<h2>Beheer & exploitatie</h2>
			<p>Van Ogtrop JL  behartigt de juridische belangen van voornamelijk particuliere landgoederen in Nederland.</p>
			<p>Wij brengen gezamenlijk met u het juridisch landschap in kaart en analyseren waar kansen liggen of mogelijk bedreigingen bestaan. </p>
			<p>Eigenaren en rentmeesters kunnen ons voor specifieke expertise betrekken bij juridische vraagstukken, zowel op het gebied van landgoedbeheer als op het gebied van landgoedexploitatie. </p>
		</section>
	
		<section>
			{% include icons/pen.svg %}<h2>Werkwijze</h2>
			<p>In de eerste fase inventariseren en beoordelen we de overeenkomsten waar het landgoed mee te maken heeft. Van vaak historische transportaktes tot pachtovereenkomsten. Van lang geleden gevestigde erfdienstbaarheden tot ooit overeengekomen voorkeursrechten. In veel gevallen is er op landgoederen sprake van een historische samenhang, ook in juridische zin. Het is daarom goed om het gehele juridisch landschap in beeld te hebben om kansen te kunnen zien en benutten.</p>
		</section>
		
		<section>
			<div class="medium-hide">&nbsp;</div>
			<p>In fase twee analyseren wij geza&shy;menlijk met het landgoed de bestaande kansen en bedreigingen en bepalen we welke koers u op grond daarvan wil varen. Van Ogtrop JL stippelt deze koers vervolgens verder uit door middel van een juridisch actieplan. </p>
		</section>
	
		<section>
			{% include icons/chatbubble2.svg %}
			<p class="primary quote">“Juridisch beheer verdient een eigen plek in landgoedbeheer. Proactief in plaats van reactief. Zelf kansen creëren en benutten.”</p>
			<p class="primary quote">“Om succesvol te zijn als adviseur van landgoederen, is een historisch besef onontbeerlijk. Enerzijds van de economisch-juridische inrichting. Anderzijds van bestaande maat&shy;schappelijke en personele verhou&shy;dingen.”</p>
		</section>
	
	</div> <!-- .columns -->
</div> <!-- .row.content -->