<div class="row image parallax maze3"></div>
<div class="row content">
	<div class="columns">
		<section>
			<h2>Van Ogtrop JL: beheer & exploitatie</h2>
			<p>
			Van Ogtrop JL  behartigt de juridische belangen van voornamelijk particuliere landgoederen in Nederland.
			</p><p>
			Samen met de eigenaar of eigenaren van het landgoed brengen wij het juridisch landschap in kaart en analyseren waar juridisch kansen liggen of mogelijk bedreigingen bestaan.  Op welke wijze Van Ogtrop JL specifiek  betrokken is, verschilt van geval tot geval en hangt af van de doelstellingen van het landgoed. In sommige gevallen is dat beheer. In andere gevallen is dat exploitatie. In weer andere een combinatie.
			</p><p>
			Daarnaast adviseert Van Ogtrop JL rentmeesters in juridische vraagstukken waar men extra expertise nodig heeft.  
			</p>
		</section>
		<section>
			<h2>Werkterrein & algemene werkwijze</h2>
			<p>
			In de inventarisatiefase beoordeelt Van Ogtrop JL de overeenkomsten waar het landgoed mee te maken heeft. Van vaak historische transportaktes tot pachtovereenkomsten. Van lang geleden gevestigde erfdienstbaarheden tot ooit overeengekomen voorkeursrechten. In veel gevallen is er op landgoederen sprake van een historische samenhang, ook in juridische zin. Het is daarom goed om het gehele juridisch landschap in beeld te hebben om kansen te kunnen zien en benutten. 
			</p><p>
			In fase twee analyseren wij gezamenlijk met het landgoed de bestaande kansen en bedreigingen en bepalen we welke koers het landgoed op grond daarvan wil varen. Van Ogtrop JL stippelt deze koers vervolgens verder uit middels een juridisch actieplan.
			</p><p>
			Van Ogtrop JL doet niets zonder de uitdrukkelijke goedkeuring van de opdrachtgever. Dus schriftelijke correspondentie wordt altijd eerst aan de opdrachtgever voorgelegd en pas na zijn goedkeuring verzonden.
			</p>
		</section>
	</div>
</div>
<div class="row image parallax last maze2"></div>
<div class="row content">
		<h2>Referenties & Testimonials</h2>
	<div class="columns">
		<p class="quote">
		“Om succesvol te zijn als adviseur van landgoederen, is een historisch besef onontbeerlijk. Enerzijds van de economisch-juridische inrichting. Anderzijds van bestaande maatschappelijke en personele verhoudingen.”
		</p>
		<p class="quote">
		“Om onwenselijke wildgroei op landgoederen te voorkomen, kan het geen kwaad om wederzijdse rechten en verplichtingen nog eens te benoemen. Als daardoor discussies ontstaan, ook goed. Discussies uit de weg gaan heeft geen enkele zin.”
		</p>
	</div>
</div>
