<div class="row image parallax maze3"></div>
<div class="row content">
	<div class="columns">
<section>
<div class="icon trees"></div><h2>Beheer & exploitatie</h2>
<p>
Wij behartigen juridische belangen voor Nederlandse landgoederen.
</p><p>
Zo kunnen wij met u het juridisch landschap van het landgoed in kaart brengen en analyseren waar kansen liggen of bedreigingen kunnen ontstaan. 
</p><p>
Eigenaren en rentmeesters kunnen ons voor specifieke expertise betrek&shy;ken bij juridische vraagstukken, zowel op het gebied van beheer als exploitatie.  
</p>
</section>
<section>
<div class="icon pen"></div><h2>Werkwijze</h2>
<p>
In de inventarisatiefase beoordelen we de overeenkomsten met betrek&shy;king tot het landgoed, van vaak historische transportaktes tot pachtovereenkomsten. Van lang geleden gevestigde erfdienstbaar&shy;heden tot ooit overeengekomen voorkeursrechten. In veel gevallen is er op landgoederen sprake van een historische samenhang, ook in juridische zin. Het is daarom goed om het gehele juridisch landschap in beeld te hebben om kansen te kunnen zien en benutten.
</p><p>
In fase twee analyseren wij geza&shy;menlijk bestaande kansen en bedreigingen en bepalen we welke koers u op grond daarvan wil varen. Van Ogtrop JL stippelt deze koers vervolgens verder uit door middel van een juridisch actieplan. 
</p>
</section>
<section class="medium-hide">
&nbsp;
</section>
<section>
<div class="icon chatbubble"></div>
<p class="primary">
Om succesvol te zijn als adviseur van landgoederen, is een historisch besef onontbeerlijk. Enerzijds van de economisch-juridische inrichting. Anderzijds van bestaande maat&shy;schappelijke en personele verhou&shy;dingen.
</p>
</section>

</div>
</div>
<div class="row image parallax wedding"></div>
<div class="row content">
<div class="columns">
<section>
<div class="icon handshake"></div><h2>Robin van Ogtrop</h2>
<p>
Robin van Ogtrop is Stratedge Legal begonnen en is specialist op het gebied van commerciële contracten en vraagstukken betreffende intel&shy;lectueel eigendom. Robin behartigt de belangen van een breed spec&shy;trum aan cliënten. Zowel corporates als non-corporates. Nationaal en internationaal. Robin is vooraf&shy;gaand aan de advocatuur werk&shy;zaam geweest als fiscaal-jurist op de internationale vastgoedafdeling van Arthur Andersen. 
</p>
</section>
<div class="photo">
	<img src="/images/robinvanogtrop.jpg" alt="Robin van Ogtrop">
</div>

<section class="medium-hide">
&nbsp;
</section>
<section>
<div class="icon chatbubble"></div><p class="primary">
Om wildgroei op landgoederen te voorkomen, kan het geen kwaad om wederzijdse rechten en verplich&shy;tingen nog eens te benoemen. Als daardoor discussies ontstaan is het ook goed. Discussies uit de weg gaan heeft geen enkele zin.	
</p>
</section>
</div>
</div>
<div class="row image parallax last mansion"></div>
<div class="row content footer">
<div class="columns">
<section class="medium-hide">
&nbsp;
</section>
<section class="medium-hide">
&nbsp;
</section>
<section>
<div class="icon door"></div><br>
<p class="primary">Rembrandtlaan 48<br>
1213 BH Hilversum<br>
<a href="https://www.van-ogtrop.nl">www.van-ogtrop.nl</a></p>
</section>
<section>
<div class="icon phone"></div><br>
<p class="primary">Mr. Robin van Ogtrop<br>
T 06 1809 4925<br>
<a href="mailto:robin@van-ogtrop.nl">robin@van-ogtrop.nl</a></p>
</section>
</div><!-- .columns -->
</div>